.advantages.section 
  .container
    .advantages__hidden-title 
      h2.title Преимущества международного <br> шопинга 
        svg(width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd' clip-rule='evenodd' d='M13.4676 6.7003C13.3765 6.15994 13.3079 5.62571 13.2636 5.09143C13.1968 4.29 13.2381 3.48244 13.2144 2.68102C13.2041 2.34102 13.1634 1.4546 13.1798 1.3271C13.3285 0.216028 14.2253 0.0460078 14.4876 0.0156506C14.6145 -0.00256363 15.9174 -0.148213 16.1985 1.29679C16.5433 3.06357 16.6539 4.84248 16.5318 6.58498C16.8166 8.0664 17.3035 9.54173 17.9465 10.8775C20.505 16.19 25.3803 16.7061 30.6625 16.6575C31.4748 16.6454 32.1494 17.2828 32.1919 18.0903C32.2344 18.9039 31.6297 19.6082 30.8209 19.6811C27.8684 19.9664 22.6299 22.3343 20.8188 24.7993C20.44 25.3154 20.2196 26.56 19.9282 27.7804C19.5214 29.4743 19.0375 31.15 18.4953 31.8543C18.414 31.9636 17.4249 33.0808 17.1298 33.2447C16.4207 33.6333 15.853 33.4086 15.5307 33.2021C15.2083 32.9957 14.8434 32.5889 14.6976 31.915C14.5453 31.2107 14.674 29.7657 14.6503 29.456C14.5641 28.3328 14.3394 26.1289 13.8811 24.2346C13.6339 23.2146 13.3704 22.2736 12.9345 21.8061C11.3207 20.0757 8.74036 20.3307 6.5674 20.6161C6.31786 20.6464 6.06833 20.6829 5.8194 20.7132C4.9348 20.9743 3.99552 21.1686 3.00284 21.2839C1.50381 21.46 1.25732 20.0818 1.24397 19.9907C1.21604 19.7903 1.11221 18.7582 2.2421 18.3454C2.36535 18.3029 3.27486 18.1025 3.62518 18.0236C4.11332 17.9143 4.60692 17.8293 5.10235 17.7504C10.22 16.1597 12.9995 11.6911 13.4676 6.7003ZM15.224 12.2193C17.156 16.2143 20.0879 18.145 23.5631 19.0193C21.3932 20.1546 19.4188 21.5754 18.3727 23.0022C17.9756 23.5425 17.6113 24.6293 17.2829 25.8496C17.105 24.7143 16.8645 23.506 16.547 22.4739C16.1858 21.296 15.6994 20.3186 15.1566 19.7357C14.1087 18.6125 12.7936 17.9872 11.3796 17.6775C13.0723 16.1779 14.3558 14.3079 15.224 12.2193Z' fill='#005891')
    .advantages__flex-wrap 
      .advantages__col
        h2.title Преимущества международного <br> шопинга 
          svg(width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M13.4676 6.7003C13.3765 6.15994 13.3079 5.62571 13.2636 5.09143C13.1968 4.29 13.2381 3.48244 13.2144 2.68102C13.2041 2.34102 13.1634 1.4546 13.1798 1.3271C13.3285 0.216028 14.2253 0.0460078 14.4876 0.0156506C14.6145 -0.00256363 15.9174 -0.148213 16.1985 1.29679C16.5433 3.06357 16.6539 4.84248 16.5318 6.58498C16.8166 8.0664 17.3035 9.54173 17.9465 10.8775C20.505 16.19 25.3803 16.7061 30.6625 16.6575C31.4748 16.6454 32.1494 17.2828 32.1919 18.0903C32.2344 18.9039 31.6297 19.6082 30.8209 19.6811C27.8684 19.9664 22.6299 22.3343 20.8188 24.7993C20.44 25.3154 20.2196 26.56 19.9282 27.7804C19.5214 29.4743 19.0375 31.15 18.4953 31.8543C18.414 31.9636 17.4249 33.0808 17.1298 33.2447C16.4207 33.6333 15.853 33.4086 15.5307 33.2021C15.2083 32.9957 14.8434 32.5889 14.6976 31.915C14.5453 31.2107 14.674 29.7657 14.6503 29.456C14.5641 28.3328 14.3394 26.1289 13.8811 24.2346C13.6339 23.2146 13.3704 22.2736 12.9345 21.8061C11.3207 20.0757 8.74036 20.3307 6.5674 20.6161C6.31786 20.6464 6.06833 20.6829 5.8194 20.7132C4.9348 20.9743 3.99552 21.1686 3.00284 21.2839C1.50381 21.46 1.25732 20.0818 1.24397 19.9907C1.21604 19.7903 1.11221 18.7582 2.2421 18.3454C2.36535 18.3029 3.27486 18.1025 3.62518 18.0236C4.11332 17.9143 4.60692 17.8293 5.10235 17.7504C10.22 16.1597 12.9995 11.6911 13.4676 6.7003ZM15.224 12.2193C17.156 16.2143 20.0879 18.145 23.5631 19.0193C21.3932 20.1546 19.4188 21.5754 18.3727 23.0022C17.9756 23.5425 17.6113 24.6293 17.2829 25.8496C17.105 24.7143 16.8645 23.506 16.547 22.4739C16.1858 21.296 15.6994 20.3186 15.1566 19.7357C14.1087 18.6125 12.7936 17.9872 11.3796 17.6775C13.0723 16.1779 14.3558 14.3079 15.224 12.2193Z' fill='#005891')
        .advantages__wrap
          each adv,index in ['Честная цена производителя','Высокое качество','Уникальные коллекции','Скидки до 80%','Широкий ассортимент','Эксклюзивные бренды']
            .advantages__item
              .advantages__item-icon
                img(src="images/dist/adv"+(index+1)+".svg", alt="") 
              .advantages__item-title=adv
        .advantages__bottom
          a.btn(href="#") Зарегистрироваться 
          
          .advantages__mobile-video
            | Cмотеть видео
            svg(width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M10 12.5V25L21.25 18.75L10 12.5Z' fill='#005891')
              path(d='M26.25 0H3.75C1.54167 0 0 1.54167 0 3.75V26.25C0 28.4583 1.54167 30 3.75 30H26.25C28.4583 30 30 28.4583 30 26.25V3.75C30 1.54167 28.4583 0 26.25 0ZM28.75 5V7.5H27.5L25 1.25C27.2083 1.25 28.75 2.79167 28.75 5ZM22.5 1.25L25 7.5H21.25L18.75 1.25H22.5ZM16.25 1.25L18.75 7.5H15L12.5 1.25H16.25ZM10 1.25L12.5 7.5H8.75L6.25 1.25H10ZM1.25 5C1.25 3.2125 2.26667 1.87917 3.82083 1.42917L6.25 7.5H1.25V5ZM28.75 25C28.75 27.2083 27.2083 28.75 25 28.75H5C2.79167 28.75 1.25 27.2083 1.25 25V8.75H28.75V25Z' fill='#005891')

      .advantages__col.video-js

        .advantages__video
          .close(href='index.html')
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
              path(d='M21 2.64111L3.28251 20.3586' stroke='black')
              path(d='M21 20.3589L3.28251 2.6414' stroke='black')
          video#video-promo(controls='')
            source(src='images/video.webm' type='video/webm')
            source(src='images/video.mp4' type='video/mp4')
