.faq.section 
  .container
    h2.title Остались вопросы?
    
    .faq__wrap 
      .faq__item 
        .faq__item-question Сколько стоит доставка из США в Кыргызстан?
        .faq__item-answer
          p Цена доставки зависит от фактического веса посылки с упаковкой. Обратите внимание: на сайте продавца вес упаковки может быть указан отдельно.
          p Чтобы рассчитать стоимость доставки из США, воспользуйтесь онлайн-калькулятором на сайте.
          p Если цена всех товаров в посылке не превышает 150 евро, покупатель оплачивает только стоимость доставки.
          p Если стоимость посылки больше 150 евро, на сумму превышения начисляется 20% НДС.
          p Если стоимость товаров составляет свыше €150, покупатель оплачивает НДС в соответствии с предыдущим пунктом и таможенную пошлину в размере 10% от суммы превышения.
      
      .faq__item 
        .faq__item-question Как оформить доставку заказа из интернет-магазина США в Кыргызстан?
        .faq__item-answer
          p 
            b 1. Зарегистрируйся и получи персональный адрес для международного шопинга.
          p
            b – 
            |  Определись с интернет-магазином, выбери товар, оформи и оплаты заказа. В поле "Shipping address" укажи полученный на нашем сайте адрес для шопинга, то есть адрес состава-партнера Новая Почта Глобал.  
          p
            b – 
            | Когда интернет-магазин отправит заказ, на почту придет сообщение с трек-номером отправки. Его нужно будет добавить в личном кабинете при регистрации заказа.
          p 
            b 2. Зарегистрируй заказ на Nova Poshta Shopping
          p 
            b – 
            | В личном кабинете Nova Poshta Shopping создай отправку. В форме "Регистрация новой отправки" выбери страну, интернет-магазин, название товара, количество и цену.
          p
            b – 
            | Зарегистрируй отправку, добавив трек-номер, поступивший на email.    
          p
            b – 
            | Последним шагом заверши регистрацию заказа, выбрав адрес доставки в Кыргызстане на почтомат, отделение или курьером.
          p или
          
          p – Воспользуйся услугой <b>"Напомнить мне добавить трек-номер"</b>, если письмо от интернет-магазина еще не поступило. 

          p В случае если объявленная стоимость заказа превышает 150 € — загрузи счет-фактуру. Это может быть invoice от интернет-магазина с данными о товаре и стоимости или скриншоте заказа из интернет-магазина. Завершив регистрацию данными об адресе доставки в Кыргызстан.
      
      .faq__item 
        .faq__item-question Сколько идет доставка из США в Кыргызстан?
        .faq__item-answer
          p Посылка из США в Кыргызстан доставляется в 2 этапа:
          p 1. Сначала по территории США — из интернет-магазина на промежуточный состав партнеров «Новой почты Глобал». На это необходимо, обычно, от 1 до 7 дней. Ориентировочное время доставки ищите на сайте ритейлера.
          p 2. Последующая доставка посылок из США в Кыргызстан длится от 8 рабочих дней.
            | Срок доставки может увеличиться, если посылку задержит таможня. Это может произойти по нескольким причинам:
            | Таможенный инспектор принял решение переоценить товар.
            | Стоимость всех товаров в посылке превышает 150 €.
            | Пользователь заказал несколько товаров, отнесенных таможней к товарной партии.
      
      .faq__item 
        .faq__item-question Есть ли ограничения по габаритам и весу?
        .faq__item-answer
          p Вес посылки не должен превышать 441 фунт (200 кг).
          p Габариты не должны превышать:
          p 48 дюймов (122 см) в длину,
          p 40 дюймов (102 см) в ширину,
          p 60 дюймов (150 см) в высоту.
          