footer.footer 
  .container 
    .footer__flex-wrap
      .footer__col
        p "Кыргыз почтасы" © 2023
      .footer__col
        ul 
          li 
            a(href="public-offer.html") Публичная оферта
          li 
            a(href="info-page.html") Политика конфиденциальности
          li 
            a(href="prohibited-items.html") Запрещенные товары

























