.text-img.section
  .container
    .text-img__hidden-title.title.title--tac Чтобы воспользоваться NP Shopping, достаточно пяти простых шагов:
    .text-img__flex-wrap 
      .text-img__img-wrap
        svg(width='36' height='37' viewBox='0 0 36 37' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd' clip-rule='evenodd' d='M20.1518 31.5131C15.9039 30.9639 11.9312 31.48 7.72517 31.8317C6.90377 31.9005 6.29569 32.6201 6.36317 33.4387C6.4307 34.2578 7.15377 34.8661 7.97523 34.7978C11.9635 34.4642 15.7359 33.9438 19.7708 34.4646C20.5869 34.5701 21.336 33.9938 21.4388 33.1794C21.5467 32.365 20.9678 31.6181 20.1518 31.5131Z' fill='black')
          path(fill-rule='evenodd' clip-rule='evenodd' d='M27.1867 21.9771C20.1051 15.7967 11.2633 10.2184 2.56333 6.60404C1.80347 6.28897 0.929972 6.64874 0.616015 7.40708C0.302058 8.16542 0.660316 9.03754 1.42018 9.3526C9.83193 12.8477 18.3833 18.2426 25.2272 24.2193C25.8476 24.7593 26.7894 24.6953 27.329 24.0768C27.8685 23.4582 27.8071 22.5171 27.1867 21.9771Z' fill='black')
          path(fill-rule='evenodd' clip-rule='evenodd' d='M33.8748 19.4535C34.2035 13.0322 31.6942 6.73531 28.5364 1.28691C28.1215 0.576439 27.21 0.333903 26.5022 0.744833C25.7894 1.15681 25.5477 2.06826 25.9577 2.77929C28.8357 7.74108 31.1992 13.4534 30.9006 19.3017C30.8584 20.1222 31.4919 20.8219 32.3108 20.8637C33.1298 20.906 33.8325 20.2735 33.8748 19.4535Z' fill='black')

        .text-img__img.radial-block
          img(src="images/dist/NP-Shopping.webp", alt="")

      
      .text-img__text 
        h2.title Чтобы воспользоваться NP Shopping, достаточно пяти простых шагов:
        ol 
          li Регистрируйся на NP Shopping.
          li Получи собственный международный адрес для шопинга.
          li Покупай online по своему адресу NP Shopping.
          li Управляй отправкой.
          li Получи заказ.
          
        a.btn(href="#") Получить адрес для шопинга  
    .text-img__hidden-btn
      a(href="#").btn Получить адрес для шопинга