extends layouts/main

block vars
  - var description;
  - var keywords;
  - var ogtitle;
  - var ogtype;
  - var ogurl;
  - var ogimg;

block title
  | Часто задаваемые вопросы 

block main
  .wrapper
    .content
        include includes/header

        .faq.section 
          .container
            a(href="#").back-btn
              svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M11.1518 18.6533L11.5105 19.0016L12.2071 18.284L11.8483 17.9358L5.73306 11.9998H19.5H20V10.9998H19.5H5.73295L11.8483 5.06385L12.2071 4.7156L11.5106 3.99805L11.1518 4.3463L4.15178 11.141C4.05477 11.2351 4.00003 11.3646 4.00003 11.4997C4.00003 11.6349 4.05477 11.7644 4.15177 11.8585L11.1518 18.6533Z' fill="#005891")

              | Назад

            h2.title.title--h1 Ограничение доставки
            br
            .faq__flex-wrap.tab
              .faq__col
                
                .question-accordion  
                  span Выберите нужный раздел
                    i.angle
                  ul.tabs
                    li.faq__question
                      a(href='#') Какие ограничения относительно габаритов и веса?
                    li.faq__question
                      a(href='#') Какова максимальная сумма покупки?
                    li.faq__question
                      a(href='#') Какие предметы запрещено транспортировать?

              .faq__col
                .tab_content
                  .tabs_item
                    h3 Какие ограничения относительно габаритов и веса?
                    
                    p Габариты вашего отправления вместе с упаковкой не должны превышать эти параметры: длина – 122 см, ширина – 102 см, высота – 150 см. Максимальный вес – 200 кг.

                    p Обратите внимание, что на сайтах США параметры указаны в футах и дюймах. Перечислите его в сантиметры. 1 дюйм = 2,54 см; 1 фут = 30,48 см.
        
                  .tabs_item
                    h3 Какова максимальная сумма покупки?

                    p Общая сумма приобретенных покупок для стран Европы не должна превышать 10.000€, для Турции 1500€, для Китая 5000€, для США 10.000$.  

                  .tabs_item
                    h3 Какие предметы запрещено транспортировать?

                    p Забороняються до пересилання в експрес відправленнях вкладення, які можуть становити загрозу життю та здоров’ю людей, призводити до знищення чи псування (пошкодження) інших відправлень та робочого обладнання.

                    p
                      b Запрещается отправлять:

                    p Перечень опасных и запрещенных вещей, не принимаемых к транспортировке и отправлениям ООО "НП Глобал"

                    ol 
                      li Товары, запрещенные к перевозке, обработке, импорту или экспорту любым законодательством, правилом, конвенцией или постановлением страны происхождения, транзита и назначения. <br>
                        | Отправитель / получатель / владелец содержимого отправления или любая третья сторона, имеющая право на международную экспресс-отправку, обязуется предоставлять необходимую и достоверную информацию о содержании и стоимости международного экспресса отправления и не заказывать или не передавать их к перевозке.
                        | Продукты питания, за исключением тех, которые отвечают одновременно всем следующим требованиям:
                        
                        ul
                          li - фактический вес продуктов, адресованных физическим лицам составляет не более 10 килограммов;
                          li - продукты отправляются в упаковку изготовителя и упаковка не открывалась;
                          li - продукты не требуют соблюдения особого температурного режима (отличного от комнатной температуры).

                        | Вещества или продукты (непереработанные, частично переработанные или переработанные), предназначенные для употребления в пищу человеком
                      
                      li Лекарственные препараты. Вещества или их смеси природного, синтетического или биотехнологического происхождения, применяемые для предотвращения беременности, профилактики, диагностики и лечения заболеваний людей или изменения состояния и функций организма. Список также включает витамины и биологически активные добавки (БАДы). за исключением тех, которые отвечают одновременно всем следующим требованиям:

                        ul 
                          li – фактический вес витаминов или добавок (БАД), адресованных физическим лицам, составляет не более 10 килограммов;
                          li - витамины или добавки (БАДы) отправляются в упаковку производителя и упаковка не открывалась;
                          li - витамины или добавки (БАДы) не требуют соблюдения особого температурного режима (отличного от комнатной температуры).

                        |Вещества или продукты (непереработанные, частично переработанные или переработанные), предназначенные для употребления в пищу человеком
                      
                      li Спиртосодержащие духи, косметические и легковоспламеняющиеся препараты в баллонах под давлением

                        | Например: дезодоранты, спреи, гель-лаки и т.д.

                      li Подакцизные продукты. Включая спирт, алкогольные напитки, пиво, табачные изделия, табачные изделия для электрического нагрева (ТВЭН) с помощью подогревателя с электронным управлением, жидкие смеси химических веществ, содержащих или не содержащих никотин, используются для создания пара в электронных сигаретах и содержатся, в частности, в картриджах, заправочных контейнерах и других емкостях. 
                     
                      li Наличные деньги (купюры, монеты), иностранная валюта, банковские металлы, драгоценные и полудрагоценные камни (ограненные или неограненные, полированные или неполированные), ювелирные изделия, платежные документы и ценные бумаги;
                        | Например: золото, серебро, металлы платиновой группы в изделиях или в необработанном виде, алмазы, рубины, жемчуг, янтарь, аметисты, бирюза, агаты, акции, облигации, купоны к ним, векселя (тратты), долговые расписки, аккредитивы, чеки, банковские приказы, депозитные сертификаты, другие денежные и банковские документы и т.Д.
                      
                      li Банковские карты.

                      li Антиквариат (включая антикварные книги), изделия старше 100 лет, произведения искусства оригинального происхождения (не копии), редкие ордена и медали, относящиеся к культурным ценностям.
                        | Например: картины, иконы, рисунки и пастели, полностью выполненные вручную, коллажи и аналогичные декоративные изображения; гравюры, эстампы и литографии; скульптуры и статуэтки из любого материала; марки почтовые или гербовые, почтовые канцелярские предметы (гербовая бумага); коллекции и предметы коллекционирования по зоологии, ботанике, минералогии, анатомии или представляющие исторический, археологический, палеонтологический, этнографический или нумизматический интерес; предметы, являющиеся национальной, исторической или культурной ценностью, определяемой законодательством стран импорта и экспорта.  
                      
                      li Товары военного назначения и двойного использования, а также специальные средства негласного получения информации.
                        | Например: средства прослушивания, экранирующие материалы, поглощающие радиоэлектронное излучение, телекоммуникационное оборудование с кодировкой сигнала со стороны пользователя, системы обнаружения и определения местоположения, снайперские прицелы, коллиматоры, тепловизоры, приборы ночного видения, товары, содержащие и/или являющиеся частью которых есть GPS трекеры и т.п. 
                      
                      li Оружие всех видов, включая охотничье и спортивное, части и боеприпасы к нему, макеты оружия, полноразмерные модели и точные копии, пневматическое оружие, холодное оружие, электронно-лучевое оружие всех видов, электрошоковые устройства всех видов и другие предметы, специально предназначенные для нападения и обороны.
                        | Например: пулеметы, пневматические ружья, шары, гильзы, капсюли, сабли, охотничьи ножи, нунчаки, кастеты, баллончики с жидкостью паралитического действия, лазерные пушки, электрошокеры и т.д. 
                      
                      li Взрывчатые вещества, соединения и снаряженные ими предметы, средства взрыва.
                         | Например: тротил, порох, капсюли-детонаторы, электродетонаторы, шнуры огнепроводные и детонационные, боеприпасы, самодельные взрывчатые смеси, ракеты сигнальные и осветительные, фальшфееры, димопатроны, шашки посадочные, спички термитные, спички взрывники, спички подрывника, люскугели, изделия пиротехнические бытовые и подобные им предметы и самодельные средства и изделия, газовые баллончики, содержащие нервно-паралитические, слезоточивые, ядовитые и сильнодействующие газы и т.д. 
                      
                      li Живые животные и растения. Мех, шкуры, чучела животных, перья, слоновая кость и изделия из нее.
                      
                      li Порнографические материалы, контрафактная и фальсифицированная продукция. 
                      
                      li Наркотические средства, психотропные вещества, их аналоги и прекурсоры, в том числе каннабис для любых целей в любой форме.  
                       
                      li Человеческие останки, органы, ткани, прах, ДНК-тесты, образцы крови, мочи и т.д.  
                      
                      li Непромаркированные контейнеры или другие емкости, содержащие жидкости, порошки или другие содержимое без четкого указания ее состава и назначения.  
                      
                      li Семена и посевной материал.
                        | Например: семенной материал сельскохозяйственных культур, картофеля, плодовых, лесных и декоративных культур и среза цветов из стран распространения карантинных организмов (вредители, болезни растений и сорняки).  
                      
                      li Личные вещи, если отправитель и получатель являются одним лицом.   
                      
                      li Легковоспламеняющиеся жидкости и воспламеняющиеся твердые вещества или вещества, подверженные самовоспламенению
                        | Например: бензин, керосин, ацетон, метанол, метиловый эфир, тормозная жидкость, сероуглерод, эфиры, органические растворители, все виды клеев и герметиков, содержащие легковоспламеняющиеся (самовоспламеняющиеся) компоненты, духи, одеколоны, лак для ногтей, лакокрасочные изделия, красок чистящие средства, лосьоны косметические, пустые емкости от топлива, калий, натрий, кальций металлический, их сплавы, кальций фосфористый, фосфор белый, желтый и другие вещества, отнесенные к воспламеняющимся твердым веществам, нитроцеллюлоза, бенгальские огни, образцы угля образцы дров, магний, металлические порошки и т.д.
                      
                      li Ядовитые и сильнодействующие вещества в любом физическом состоянии независимо от формы и качества упаковки.
                        | Например: бруцин, никотин, стрихнин, формалин, антифриз, этиленгликоль, ртуть, цианистые препараты, циклон, цианплав и вещества со схожими свойствами и т.д.  
                      
                      li Едкие и коррозионные вещества.
                        | Например: соляная, серная, азотная кислота; калиевые, натриевые щелочи; хлорная известь, аккумуляторный электролит и вещества с подобными свойствами, химические вещества для удаления лаков и красок с покрытой ими поверхности.
                      
                      li Радиоактивные и инфекционные вещества.   
                      
                      li Например: изотопы для целей диагностики и лечения, головки дефектоскопов, приборы гамма каротажа, микроорганизмы (включая бактерии, вирусы, риккетсии, паразиты, грибки), инфекционные агенты, такие как прионы, вакцины, медицинские и клинические отходы, био-образцы и т.д.  
                      
                      li Подержанные личные вещи (одежда, обувь) в грязном состоянии. Прежние в использовании автомобильные, авиационные и т.п. запчасти.
                      
                      li Автомобильные государственные номерные знаки, выданные на транспортные средства, зарегистрированы в Украине. 
                      
                      li Браконьерские принадлежности.
                        | Например: электроловильные системы (электроудки), однониточные (волосенные) сетки, охотничьи капканы и т.д.
                      
                      li Металлы, металлолом и необработанная древесина.
                        | Например: редкоземельные металлы в чистом виде, в смесях или сплавах, ферросплавы, токарная стружка, обрезки, обломки, отходы фрезерного производства, опилки, слитки из нержавеющей стали и черных металлов для переплавки, медные сплавы, необработанный свинец, никель, никель порошок, вольфрам, магний, молибден, тантал, висмут, кадмий, титан, цирконий, сурьма, марганец, бериллий, хром, германий, ванадий, галлий, гафний, индий, ниобий, рений, таллий, никель, олово, металло них, штейны кобальтовые и прочие промежуточные продукты металлургии кобальта
                      
                      li Документы, грузы, отправленные в адрес иностранных судов, банков, исполнительных служб, в почтовые ящики (PO BOX) и в отделение других почтовых служб.   
                      
                      li Носители информации с закрытым доступом для считывания (диски или флешки с кодом доступа).   
                      
                      li Автомобильные шины (резина всех видов транспорта) бывшие в употреблении.  
                      
                      li Любые газы для бытового и промышленного использования
                        | Например: газы в любой упаковке, емкости с аэрозолями, зажигалки, заправочные баллончики, огнетушители, пропан-бутан, азот, неон, аргон, кислород, хлор и т.д.  
                      
                      li Образцы почвы.
                      
                      li Готовые корма для животных  

                      li Остальные потенциально опасные грузы.
                        | Например: жмых, удобрение, сухой лед, асбест, уксус, намагниченные материалы, двигатели внутреннего сгорания, газонокосилки, литиевые и металлические батареи (не в составе оборудования, емкостью более 100 Ватт-часов, аккумуляторы (не сухие), сегвеи, электромобиль электромотоциклы, гироскутеры, гироборды, подушки безопасности, дыхательные аппараты, баллоны под давлением, бензопилы, а также кондиционерное, компьютерное, стоматологическое, буровое, холодильное оборудование, содержащее хладагенты газы и жидкости и т.п.

                    p 
                      b ***Обратите внимание! В настоящее время действуют исключения для стран Европы (Польши, Германии, Франции, Испании, Италии, Чехии, Великобритании и Турции). Для этих стран павербанки, генераторы, зарядные устройства, ecoflow и аккумуляторные батареи без оборудования – разрешено транспортировать сервисом NP Shopping. Есть ограничения по стоимости отправления в Турции – стоимость заказа на склад не может превышать 1500 евро, для других стран Европы ограничения не имеет

                    p
                      b ****Обратите внимание! Для США павербанки, генераторы, зарядные устройства и ecoflow можно транспортировать сервисом NP Shopping. Разрешено транспортировать только новые генераторы (не бывшие в употреблении) в упаковке от производителя, без воспалительных смесей. <br>
                        | Аккумуляторные батареи без оборудования – запрещено транспортировать сервисом NP Shopping, они входят в список запрещенных товаров         

    include includes/footer


  include includes/scripts 