extends layouts/main

block vars
  - var description;
  - var keywords;
  - var ogtitle;
  - var ogtype;
  - var ogurl;
  - var ogimg;

block title
  | Заказ

block main
  .wrapper
    .content
    
        include includes/callBack
        include includes/header-log
        
        .order.section
          form(action="")
            .container 
              h2.title.title--h1.title--tac Новое отправление
            
              .order__form 

                .input-wrap
                  .dropdown-info
                    label(for="track-number") Трекинг номер
                  .input.input--bordered
                    input(type='text' id="track-number") 
                
                .input-wrap
                  .dropdown-info
                    label(for="desc") Описание 
                      .require &#10059;
                  .input.input--bordered
                    input(type='text' id="desc") 
                
                .input-wrap
                  .dropdown-info
                    label(for="cost") Стоимость
                      .require &#10059;
                  .input.input--bordered
                    input(type='text' id="cost") 
                
                .input-wrap
                  .dropdown-info Выберите страну
                    .require &#10059;             
                  .input.input--select.input--country-select.input--bordered
                    .input__select.select-js
                      .input__select-hidden
                        input(type="hidden" data-val="" name="country")
                      .input__select-selected
                        .input__select-selected-price(data-selectedprice="12" data-exchangeRatesKg="87.52") 
                        .input__select-selected-flag 
                          img(src="images/dist/us.svg", alt="") 
                        span.output США
                        i.angle
                      .input__select-dropdown 
                        
                        .input__select-option.input__select-option--country(data-val="США" data-price="12")
                          .input__select-option-flag
                            img(src="images/dist/us.svg", alt="")
                          | США
                        
                        .input__select-option.input__select-option--country.soon(data-val="Германия" data-price="10")
                          .input__select-option-flag
                            img(src="images/dist/de.svg", alt="")
                          | Германия (Скоро)
                        
                        .input__select-option.input__select-option--country.soon(data-val="Турция" data-price="5")
                          .input__select-option-flag
                            img(src="images/dist/tr.svg", alt="")
                          | Турция (Скоро)

                .input-wrap
                  .dropdown-info
                    label(for="cost") Вебсайт
                      .require &#10059;
                  .input.input--bordered
                    input(type='text' id="cost")

                .input-wrap
                  .dropdown-info Служба доставки
                    .require &#10059;             
                  .input.input--select.input--country-select.input--bordered
                    .input__select.select-js
                      .input__select-hidden
                        input(type="hidden" data-val="" name="delivery")
                      .input__select-selected
                        span.output delivery 1
                        i.angle
                      .input__select-dropdown 
                        
                        .input__select-option.input__select-option--country(data-val="delivery 1") delivery 1
                        
                        .input__select-option.input__select-option--country(data-val="delivery 2") delivery 2
                        
                        .input__select-option.input__select-option--country(data-val="delivery 3") delivery 3    

                .input-wrap
                  .dropdown-info
                    label(for="cost") Комментарий
                  .input.input--bordered
                    input(type='text' id="cost")

                button(type="submit").btn Сохранить



    include includes/prohibitedPopup
    include includes/footer


  include includes/scripts 