extends layouts/main

block vars
  - var description;
  - var keywords;
  - var ogtitle;
  - var ogtype;
  - var ogurl;
  - var ogimg;

block title
  | Регистрация
block main
  .wrapper
    .content
        include includes/header-close

        .registration.section 
         
          .container 
            h2.title.title--h1.title--tac Зарегистрироваться 
            .registration__flex-wrap
              .registration__col
                form(action="") 
                  .registration__form 

                    .input-wrap.input-wrap--half
                      .dropdown-info
                        label(for="last-name") Фамилия
                      .input.input--bordered
                        input(type='text' name="Фамилия" id="last-name")
                
                    .input-wrap.input-wrap--half
                      .dropdown-info
                        label(for="name") Имя
                      .input.input--bordered
                        input(type='text' name="Имя" id="name")

                    .input-wrap
                      .dropdown-info
                        label(for="phone") Телефон
                      .input.input--bordered
                        input(type='text' name="Телефон" id="phone")
                
                    .input-wrap
                      .dropdown-info
                        label(for="email") Email
                      .input.input--bordered
                        input(type='text' name="email" id="email")

                    .input-wrap
                      .dropdown-info
                        label(for="password") Пароль
                      .input.input--bordered.input--pass
                        input(type='password' name="пароль" id="password") 
                        .input-eye.input-eye--on 
                          svg(xmlns='http://www.w3.org/2000/svg' width='800px' height='800px' viewBox='0 0 24 24' fill='none')
                            path(d='M21.335 11.4069L22.2682 11.0474L21.335 11.4069ZM21.335 12.5932L20.4018 12.2337L21.335 12.5932ZM2.66492 11.4068L1.73175 11.0474L2.66492 11.4068ZM2.66492 12.5932L1.73175 12.9526L2.66492 12.5932ZM3.5981 11.7663C4.89784 8.39171 8.17084 6 12 6V4C7.31641 4 3.31889 6.92667 1.73175 11.0474L3.5981 11.7663ZM12 6C15.8291 6 19.1021 8.39172 20.4018 11.7663L22.2682 11.0474C20.681 6.92668 16.6835 4 12 4V6ZM20.4018 12.2337C19.1021 15.6083 15.8291 18 12 18V20C16.6835 20 20.681 17.0733 22.2682 12.9526L20.4018 12.2337ZM12 18C8.17084 18 4.89784 15.6083 3.5981 12.2337L1.73175 12.9526C3.31889 17.0733 7.31641 20 12 20V18ZM20.4018 11.7663C20.4597 11.9165 20.4597 12.0835 20.4018 12.2337L22.2682 12.9526C22.5043 12.3396 22.5043 11.6604 22.2682 11.0474L20.4018 11.7663ZM1.73175 11.0474C1.49567 11.6604 1.49567 12.3396 1.73175 12.9526L3.5981 12.2337C3.54022 12.0835 3.54022 11.9165 3.5981 11.7663L1.73175 11.0474Z' fill='#000000')
                            circle(cx='12' cy='12' r='3' stroke='#000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                        .input-eye.input-eye--off
                          svg(xmlns='http://www.w3.org/2000/svg' width='800px' height='800px' viewBox='0 0 24 24' fill='none')
                            path(d='M4 4L20 20' stroke='#000000' stroke-width='2' stroke-linecap='round')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M6.22308 5.63732C4.19212 6.89322 2.60069 8.79137 1.73175 11.0474C1.49567 11.6604 1.49567 12.3396 1.73175 12.9526C3.31889 17.0733 7.31641 20 12 20C14.422 20 16.6606 19.2173 18.4773 17.8915L17.042 16.4562C15.6033 17.4309 13.8678 18 12 18C8.17084 18 4.89784 15.6083 3.5981 12.2337C3.54022 12.0835 3.54022 11.9165 3.5981 11.7663C4.36731 9.76914 5.82766 8.11625 7.6854 7.09964L6.22308 5.63732ZM9.47955 8.89379C8.5768 9.6272 7.99997 10.7462 7.99997 12C7.99997 14.2091 9.79083 16 12 16C13.2537 16 14.3728 15.4232 15.1062 14.5204L13.6766 13.0908C13.3197 13.6382 12.7021 14 12 14C10.8954 14 9.99997 13.1046 9.99997 12C9.99997 11.2979 10.3618 10.6802 10.9091 10.3234L9.47955 8.89379ZM15.9627 12.5485L11.4515 8.03729C11.6308 8.0127 11.8139 8 12 8C14.2091 8 16 9.79086 16 12C16 12.1861 15.9873 12.3692 15.9627 12.5485ZM18.5678 15.1536C19.3538 14.3151 19.9812 13.3259 20.4018 12.2337C20.4597 12.0835 20.4597 11.9165 20.4018 11.7663C19.1021 8.39172 15.8291 6 12 6C11.2082 6 10.4402 6.10226 9.70851 6.29433L8.11855 4.70437C9.32541 4.24913 10.6335 4 12 4C16.6835 4 20.681 6.92668 22.2682 11.0474C22.5043 11.6604 22.5043 12.3396 22.2682 12.9526C21.7464 14.3074 20.964 15.5331 19.9824 16.5682L18.5678 15.1536Z' fill='#000000')

                    p.terms Регистрируясь, вы согласны с условиями 
                      a(href="#") Публичной оферты и Условиями предоставления услуг Кыргыз почтасы 

                    button.btn(type="submit") Зарегистрироваться
                
                .registration__already
                  p Уже зарегистрированы?
                  a(href="log-in.html") Войти 
              
              .registration__col

                p.or Или войдите через соцсети
                .form-social 
              
                  a(href="#") 
                    svg(width='11' height='20' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(fill-rule='evenodd' clip-rule='evenodd' d='M10.7586 0.619932V3.63983H8.88512C8.20094 3.63983 7.73953 3.77709 7.50087 4.05163C7.2622 4.32617 7.14287 4.73797 7.14287 5.28704V7.44901H10.6393L10.1739 10.835H7.14287V19.5171H3.49129V10.835H0.448303V7.44901H3.49129V4.95531C3.49129 3.53687 3.90497 2.43683 4.73235 1.65516C5.55972 0.873494 6.66155 0.482666 8.03786 0.482666C9.20733 0.482666 10.1142 0.528421 10.7586 0.619932Z' fill='white')
                    
                    | Войти через Facebook
                  
                  a(href="#")
                    svg(width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(fill-rule='evenodd' clip-rule='evenodd' d='M17.64 9.27133C17.64 8.63315 17.5827 8.01951 17.4764 7.43042H9V10.9118H13.8436C13.635 12.0368 13.0009 12.99 12.0477 13.6281V15.8863H14.9564C16.6582 14.3195 17.64 12.0122 17.64 9.27133Z' fill='#4285F4')
                      path(fill-rule='evenodd' clip-rule='evenodd' d='M9 18.0667C11.43 18.0667 13.4673 17.2608 14.9564 15.8863L12.0477 13.6281C11.2418 14.1681 10.2109 14.4872 9 14.4872C6.65591 14.4872 4.67182 12.904 3.96409 10.7767H0.957275V13.1086C2.43818 16.0499 5.48182 18.0667 9 18.0667Z' fill='#34A853')
                      path(fill-rule='evenodd' clip-rule='evenodd' d='M3.96409 10.7767C3.78409 10.2367 3.68182 9.6599 3.68182 9.06672C3.68182 8.47354 3.78409 7.89672 3.96409 7.35672V5.0249H0.957273C0.347727 6.2399 0 7.61445 0 9.06672C0 10.519 0.347729 11.8936 0.957275 13.1086L3.96409 10.7767Z' fill='#FBBC05')
                      path(fill-rule='evenodd' clip-rule='evenodd' d='M9 3.64632C10.3214 3.64632 11.5077 4.10041 12.4405 4.99223L15.0218 2.41086C13.4632 0.958591 11.4259 0.0667725 9 0.0667725C5.48182 0.0667725 2.43818 2.08354 0.957273 5.0249L3.96409 7.35672C4.67182 5.22945 6.65591 3.64632 9 3.64632Z' fill='#EA4335')

                    | Войти через Google

                .registration__already
                  p Уже зарегистрированы?
                  a(href="log-in.html") Войти 
          
        
        
        
        
        
        
        
        

        
        
        
         
     

    include includes/footer


  include includes/scripts 